body {
  background: #0d0d0d;
  color: white;
  font-family: Lato, sans-serif;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

input,
textarea {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
}

button {
  padding: 12px 20px;
}
